<form [formGroup]="productForm" (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="button-row">
    <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">Salvar</button>
  </div>
  <h2>{{title}} Produto</h2>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Descrição" formControlName="descricao">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="Preço" formControlName="preco">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Origem" formControlName="origem">
        <mat-option value="Nacional">Nacional</mat-option>
        <mat-option value="Importado">Importado</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Categoria" formControlName="categoria">
        <mat-option *ngFor="let categoria of categorias" value="{{categoria.id}}">
          {{categoria.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
