<app-header></app-header>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list role="navigation">
      <mat-list-item>
        <a routerLink="/">
          <i class="material-icons">home</i>
          <span>Home</span>
        </a>
      </mat-list-item>
      <mat-list-item role="menu">
        <a routerLink="/products">
          <i class="material-icons">shopping_cart</i>
          <span>Products</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <p>
    <i (click)="drawer.toggle()" class="material-icons" *ngIf="drawer.opened">keyboard_arrow_left</i>
    <i (click)="drawer.toggle()" class="material-icons" *ngIf="!drawer.opened">keyboard_arrow_right</i>
  </p>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
